/* ======================================================
   PROJECTS
====================================================== */
#projects ul {
  list-style: none;
  padding: 0;
}

#projects li {
  padding: 1rem 0;
  border-bottom: 1px solid var(--border);
}

