---
import es from "../i18n/es.json";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro"
---
<BaseLayout title="Facundo Ruiz | Desarrollador Web" lang="es">
  <Header lang="es" t={es} />

  <Hero lang="es" t={es} />

  <Projects lang="es" t={es} />

  <section id="skills">
    <h2>{es.skills.title}</h2>
    <ul>
      <li>HTML / CSS</li>
      <li>JavaScript / TypeScript</li>
      <li>Astro / React</li>
    </ul>
  </section>
</BaseLayout>

