---
const { t } = Astro.props;
const services = t.services.list;
---
<section id="services" class="services">
  <h2>{t.services.title}</h2>

  <ul class="services-grid">
    {services.map(service => (
      <li class="service-card">
        <h3>{service.title}</h3>
        <ul>
          {service.items.map(item => <li>{item}</li>)}
        </ul>
      </li>
    ))}
  </ul>
</section>
