---
const { t } = Astro.props;
---
<section id="skills">
  <h2>{t.skills.title}</h2>
  <ul>
    <li>HTML / CSS</li>
    <li>JavaScript / TypeScript</li>
    <li>Astro / React</li>
  </ul>
</section>

